<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/9c0d6208df.js" crossorigin="anonymous"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/form.css" />
  <title>Update User</title>
</head>

<body>
  <%-include('../partials/navbar.ejs') %>
    <div class="form-container">
      <!-- icon -->
      <h1>
        Update User
        <i class="fas fa-user-plus"></i>
      </h1>


    <%if(error){%>
      <small class="error">
        <i class="fas fa-exclamation-circle"></i>
        <%=error%>
      </small>
    <%}%>
    
      <form action="/api/v1/user/update_password?_method=PUT" method="post">
        <!-- new Password -->
        <label for="password">Password</label>
        <input type="password" name="newPassword" />
        <label for="password"> Confirm Password</label>
        <input type="password" name="confirmPassword" />

        <button type="submit">Update User</button>


      </form>
    </div>
    <%-include('../partials/footer.ejs') %>
</body>

</html>